<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metrics site</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
   
</head>
<body class="bg-light">
<div id="form">
    <p>Welcome <%= name %> </p>

    <!-- a href="/auth/login">login -->
    </br>
    <a href="/logout">logout</a>
    </br>
    <a href="/metrics">metrics</a>

    <hr/>
</div>
</body>
</html>