<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="bg-light">
<div id="form">
    <p>Welcome <%= name %> </p>

    <!-- a href="/auth/login">login -->
    </br>
    <a href="/logout">logout</a>
    </br>
    <a href="/metrics">metrics</a>

    <hr/>
</div>
</body>
</html>