<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
    
    <script src="../node_modules/chart.js/dist/Chart.bundle.min.js"> </script>


</head>
<body>
<h2 class="text-center"><%= user %>, here are your metrics</h2> 
<div class="container text-center bg-light">

  
    <form action="/metrics/" method="post">
        <div class="form-group">
            <label for="form_timestamp">timeStamp</label>
            <input id="form_timestamp" type="date" name="timestamp" required="required"/>
        </div>
        <div class="form-group">
            <label for="form_value">value</label>
            <input id="form_value" type="number" name="value" required="required"/>
        </div>
        <button class="btn btn-success" type="submit" value="submit">Create</button>
    </form>
 </div>

 <canvas id="myChart" width="600" height="120"></canvas>

 <div >
    <div >
        <% if (metrics) { %>
        <ul>
            <% metrics.forEach(d => { %>
            <li>
                <form action="/metrics/del/" method="post" class="container">
                    timestamp: <%= d.timestamp %> <br/>
                    value: <%= d.value %> <br/>
                    <button class="btn btn-danger" value="<%= d.timestamp %>" type="submit" name="timestamp">delete</button>
                </form>
            </li>
            <% }) %>
        </ul>
        <% } %>
    </div>
  
</div>

</div>
<script>

var ctx = document.getElementById("myChart").getContext('2d');
var metrics = <% -JSON.stringify(metrics) %>;
console.log(metrics)
var ts=[]
var values=[]

metrics.forEach(metrics=>{
    ts.push(metrics.timestamp)
    values.push(metrics.value)
})

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ts,
        datasets: [{
            label: '',
            data: values,
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
</body>
