<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metrics site</title>
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    
    <script src="/js/Chart.bundle.min.js"> </script>

</head>
<body>
Welcome <%= user %> , here are your metrics
</br>
<a href="/logout">logout</a>
</body>